<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            color: rgb(207, 255, 32);
            background-color: rgb(65, 63, 62);
        }
    </style>
</head>
<body>
    <center>
        <h1>Jinja print</h1>
        <h1>we are printing the jinga printing project</h1>
        <h2>{{name}}</h2>
        <h1>{{age}}</h1>
    </center>
</body>
</html>